html {
  width: 1366px !important;
}
body {
  margin: 0% !important;
}
.header {
  width: 100%;
  height: 108px;

  text-align: center;
  .header-banner {
    height: 27px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .header-logo img {
    width: 169px;
    height: 43px;
  }
  nav.header-menu {
    text-align: left;
    margin-left: 158px;

    a.nav-header-menu {
      font-size: 17px;
      padding-right: 25px;
      color: #4d4d4d;
      text-decoration: none;
      font-family: Arial;
      font-size: 9.5px;
    }
    a:hover {
      color: #f63c3d;
    }
  }
  hr {
    width: 1366px;
    height: 5px;
    background-color: #ed1d24;
    border: #ed1d24;
  }
}
main {
  height: 1500px;
  width: 1366px;

  .container {
    text-align: left;
    margin-left: 158px;
    .main-kb {
      height: 48px;
    }

    .main-nd {
      display: flex;
      .section1 {
        width: 229px;
        .section-list {
          border: 1px solid #dddddd;
          width: 229px;
          color: #333333;
          text-decoration: none;

          .section-list-title {
            background-color: #ed1d24;
            height: 17px;
            margin-block-start: 0em !important;
            margin-block-end: 0em !important;
            text-transform: uppercase;
            padding: 8px 59px 8px 15px;

            span {
              color: white;
              font-family: Arial;
              font-size: 12px;
            }
          }
          .section-list-sp {
            text-decoration: none;

            .section-list-sp-span {
              list-style-image: url("list.png");
              margin-block-start: 0em !important;
              margin-block-end: 0em !important;
              height: 360px;
              padding-top: 11px;
              padding-left: 29px;

              span a {
                color: #333333;
                text-decoration: none;
                font-size: 10px;
                font-family: Arial;
              }

              .section-list-sp-li {
                padding-left: 13px;
                height: 351px;
                li {
                  padding-top: 16px;
                }

                li a {
                  color: #333333;
                  text-decoration: none;
                  font-size: 9.5px;
                  font-family: Arial;
                }
              }
            }
          }
        }
      }
      .section2 {
        width: 828px;
        margin-left: 23px;
        .section-option {
          text-align: right;
          width: 740px;
          height: 17px;
          padding-bottom: 7px;
          padding-top: 7px;
          border-radius: 5px;
          border: 1px solid #c1c1c1;

          select {
            width: 125px;
            height: 22px;
            vertical-align: middle;
            option {
              vertical-align: middle;
            }
          }
        }
        .soluong {
          text-align: left;
          height: 40px;
        }
        .menu-product {
          width: 807px;
          height: 1352px;
          .menu-product-table {
            .menu-product-td {
              text-align: center;
              padding-right: 4px;
              text-decoration: none;
              a.absolute {
                position: relative;
                img {
                  width: 263px;
                  height: 195px;
                  margin-bottom: 20px;
                }
                .prices {
                  position: absolute;
                  bottom: 25px;
                  left: 0px;
                }
                b {
                  background-color: red;
                  color: white;
                  border: 1px solid red;
                  width: 77px;
                  height: 31px;
                }
              }

              a {
                text-decoration: none;
                color: #555555;
              }
              span {
                font-family: Arial;
                font-size: 15px;
                color: #555555;
              }
              hr {
                margin-top: 20px;
                margin-bottom: 0px;
              }
              h4 {
                margin-block-start: 0em !important;
                margin-block-end: 0em !important;
                padding-bottom: 10px;
                font-weight: lighter;
                color: #555555;
              }
              button {
                width: 125px;
                height: 39px;
                color: #555555;
              }
            }
          }
        }
      }
    }
  }
}
.footer {
  background-color: #f4f4f4;
  padding-top: 31px;

  .container {
    text-align: left;
    margin-left: 158px;
    .section-footer1 {
      margin-left: 252px;
      display: flex;
      .footer-hotro {
        padding-right: 126px;
        padding-bottom: 10px;
      }

      strong {
        text-transform: uppercase;
        color: #0066fe;
      }
    }
    .section-footer2 {
      display: flex;
      padding-top: 53px;
      padding-bottom: 13px;

      .footer-about {
        .footer-about-p0 {
          color: #800000;
          text-transform: uppercase;
        }
        .footer-about-p1 {
          color: #333333;
          background-color: #ffffff;
        }
        .footer-about-p2 {
          color: #333333;
        }
        a {
          text-decoration: none;
          color: #b73402;
        }
        b {
          color: #0000cd;
        }
      }
      .footer-img {
        img {
          width: 252px;
          height: 101px;
        }
      }
    }
  }
  input[type="text"] {
    width: 153px;
    height: 20px;
    padding: 0px;
  }
  ::placeholder {
    color: #1a6fe1;
  }
  input[type="button"] {
    width: 100px;
    height: 30px;
    background-color: #5183b4;
    color: white;
  }
}
